/* Fonts */
@font-face {
	font-family: "Inter Semi Bold";
	src: url("../fonts/inter_semi_bold.woff2") format("woff2");
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "Inter Regular";
	src: url("../fonts/inter_regular.woff2") format("woff2");
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Inter Light";
	src: url("../fonts/inter_light.woff2") format("woff2");
	font-weight: 300;
	font-display: swap;
}

/* Global Variables */
:root {
	/* Fonts */
    --font-heading: "Inter Semi Bold";
	--font-main: "Inter Regular";
	--font-text: "Inter Light";

    /* Colors */
	--color-primary: #3336B2;
	--color-secondary: #5DD37E;
    --color-secondary-dark: #028F59;
    --color-light: #FFF;
	--color-heading: #1E1E1E;
	--color-text: #555;
}

/* Common */
.container {
    max-width: 1416px;
    margin: 0 auto;
}

.btn {
    padding: 16px 0;
    border-radius: 4px;
    text-align: center;
    transition: all 0.3s ease;
}

.img-bg {
    width: 100%;
}

/* Header */
.header .container {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
    gap: 24px;
}

.brand-text .role {
    max-width: 160px;
    font-family: var(--font-text);
    color: var(--color-secondary-dark);
    font-size: 16px;
}

.communication-btns {
	display: flex;
	gap: 24px;
}

.communication-btns .btn {
	width: 216px;
    font-size: 16px;
}

.btn-phone {
	border: 2px solid var(--color-primary);
	color: var(--color-primary);
}

.btn-messenger {
	border: 2px solid var(--color-secondary);
	color: var(--color-secondary);
}

/* Hero */
.hero {
	position: relative;
}

.hero .wrap {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.hero .container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.hero .title, .slogan {
	color: var(--color-light);
	text-transform: uppercase;
}

.hero .title {
	max-width: 392px;
	font-size: 48px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.slogan {
	font-size: 40px;
	margin-bottom: 30px;
}

.hero .btn {
	width: 336px;
    background-color: var(--color-primary);
    color: var(--color-light);
    text-transform: uppercase;
}

/* Skills */
.skills .container {
    display: flex;
    gap: 24px;
}

.skill {
    display: flex;
    align-items: center;
    gap: 24px;
    max-width: 456px;
}

.skill .description {
    color: var(--color-primary);
    font-size: 26px;
}

/* About */
.about .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.about .img {
    border-radius: 50%;
    margin-bottom: 30px;
}

.about .name {
    margin-bottom: 5px;
}

.about .role {
    font-family: var(--font-text);
}

.cards {
    display: flex;
    gap: 24px;
}

.card {
    padding: 20px;
    max-width: 456px;
    border-radius: 4px;
    background-color: var(--color-light);
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.15));
}

.card .description {
    line-height: 150%;
    text-align: justify;
}

/* Sale */
.sale {
    padding-bottom: 80px;
    overflow: hidden;
    margin-bottom: 0;
}

.sale .content {
    text-align: center;
    margin-bottom: 80px;
}

.count {
    color: var(--color-primary);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 5px;
}

.count-text {
    font-family: var(--font-text);
}

.sale .main-content {
    position: relative;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.step-list {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.step-number {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 100px;
    aspect-ratio: 1;
    color: var(--color-primary);
    font-size: 60px;
    font-weight: 700;
    transition: all 0.3s ease;
}

.step-number.active {
	background-color: var(--color-primary);
	color: var(--color-light);
	transform: scale(1);
}

.line {
    position: absolute;
    top: 0;
    left: 50%;
    height: 0;
    width: 4px;
    background-color: var(--color-primary);
    transform: translateX(-50%);
    transition: height 0.2s ease;
    z-index: -1;
}

.steps {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.step {
    position: relative;
    display: flex;
	align-items: center;
	height: 100px;
} 

.bracket {
    display: none;
}

.step .description {
	position: absolute;
	max-width: 380px;
}

.step .description-left {
	left: 20px;
}

.step .description-right {
	right: 20px;
	text-align: end;
}

.shape {
	position: absolute;
	top: -11px;
    z-index: -1;
}

.shape-left {
	left: -20px;
}

.shape-right {
	right: -20px;
	float: right;
}

/* Cursor */
@media (hover: hover) {
	/* Common */
	.btn:hover {
		background-color: var(--color-light);
		color: var(--color-primary);
	}

	/* Header */
	.btn-phone:hover {
		background-color: var(--color-primary);
		color: var(--color-light);
	}

	.btn-messenger:hover {
		background-color: var(--color-secondary);
		color: var(--color-light);
	}
}

/* Mobile */
@media only screen and (max-width: 500px) {
    /* Common */
    .container {
        margin: 0 10px;
    }

    .btn {
        width: 100% !important;
        transition: all 0.5s ease;
    }

    .icon {
        height: 86px;
        aspect-ratio: 1;
    }

    /* Header */
    .header .container {
        flex-direction: column;
        gap: 20px;
    }

    .communication-btns {
        width: 100%;
        flex-direction: column;
        gap: 16px;
    }

    /* Hero */
    .hero .container {
        top: 96%;
        transform: translateY(-96%);
    }

    .hero .title {
        max-width: 365px;
        font-size: 40px;
    }

    .slogan {
        font-size: 32px;
    }

    .hero .btn {
        width: 100%;
    }

    /* Skills */
    .skills .container {
        flex-direction: column;
        grid-area: 30px;
    }

    .skill {
        max-width: 100%;
        gap: 16px;
    }

    .skill .description {
        font-size: 20px;
    }

    /* About */
    .about .role {
        text-align: center;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        max-width: 100%;
    }

    /* Sale */
    .sale {
        padding-bottom: 0;
        margin-bottom: 80px;
    }

    .sale .content {
        margin-bottom: 60px;
    }

    .sale .main-content {
        display: flex;
        gap: 16px;
    }

    .progress-bar {
        position: static;
        transform: translateX(0);
    }

    .step-number {
        height: 86px;
        aspect-ratio: 1;
        font-size: 50px;
    }

    .step {
        position: static;
        gap: 16px;
        height: 100%;
    }

    .bracket {
        display: block;
    }

    .step .description {
        position: static;
        width: 100%;
    }

    .step .description-right {
        text-align: start;
    }

    .shape {
        display: none;
    }
}

/* Touch screen */
/* Common */
.btn.touch-active {
	background-color: var(--color-light);
	color: var(--color-primary);
}

/* Header */
.btn-phone.touch-active {
	background-color: var(--color-primary);
	color: var(--color-light);
}

.btn-messenger.touch-active {
	background-color: var(--color-secondary);
	color: var(--color-light);
}